# Frontend node_modules
/node_modules/

# Build Output
/build/

# Environment Variables
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage Reports
/coverage/

# Miscellaneous
/.pnp/
/.pnp.js